/* Fonts */
@font-face {
    font-family: Jak;
    src: url('/fonts/Jak.woff2') format('woff2'),
         url('/fonts/Jak.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    /* Colors */
    --black: #1b181b;
    --dark-gray: #3d393d;
    --mid-gray: #4d494d;
    --light-gray: #5e5a5e;
    --white: #f1f1f1;
    --dark-red: #b9360e;
    --light-red: #d43909;
}
/* General */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/background/background7-short.png");
    background-size: cover;
    background-position: center;
    z-index: -1; /* behind everything */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Area Info */
#info-image {
    position: absolute;
    width: 170px;
    height: 170px;
    background-image: url("img/power_cell_red.png");
    background-size: cover;
    border-radius: 5px;
    
    outline: 2px solid var(--light-gray);
    background-color: var(--black);
    box-shadow: 0px 0px 25px 10px #000;

    opacity: 0;

    transition: 0.25s;
}
/* Structure */
#header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 8px 0 0 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--dark-red);
    background-color: var(--black);
    z-index: 100;
}
#header div {
    display: flex;
    flex-direction: row;
}
#small-header h1 {
    display: none;
    font-size: 125%;
}
#header img {
    margin-right: 20px;
    width: 50px;
}
#gradient-header {
    top: 80;
    position: fixed;
    width: 100%;
    height: 50px;
    background: var(--black);
    background: linear-gradient(180deg,rgba(27, 24, 27, 0.7) 0px, rgba(27, 24, 27, 0) 50px);
    z-index: 100;
    pointer-events: none;
}
#main {
    display: flex;
    margin-top: 80px;
    background-color: rgba(27, 24, 27, 0.3);
    padding: 35px 30px 15px 30px;
}
#main-left {
    display: grid;
    grid-template-areas: 
        "introduction introduction"
        "settings help";
    grid-template-columns: 50% 50%;
    column-gap: 26px;
    margin: 0 50px;
    max-width: 60%;
}
#main-left > div.introduction {
    grid-area: introduction;
}
#main-left > div.settings {
    grid-area: settings;
}
#main-left > div.help {
    grid-area: help;
    height: fit-content;
}
/* Links */
.link {
    cursor: pointer
}
.link:link {
    color: var(--light-red);
    text-decoration: none;
}

/* visited link */
.link:visited {
    color: var(--light-red);
}

/* mouse over link */
.link:hover {
    color: var(--dark-red);
}

/* selected link */
.link:active {
    color: var(--light-red);
}

#main-right {
    display: flex;
    flex-direction: column;
    max-width: 35%;
    margin: 0 50px;
}
#main-right > div.text-container {
    width: 125%;
}

/* Titles */
h1 {
    font-family: Jak;
    font-size: 40px;
    margin: 0 0 0 5px;
    color: var(--dark-red);
}
h2 {
    font-family: Jak;
    font-size: 30px;
    margin: 0;
    color: var(--dark-red);
}
h3 {
    font-family: Jak;
    margin: 0;
    margin-bottom: 5px;
    color: var(--dark-red);
}

/* Introduction */
.text-container {
    padding: 15px;
    border-radius: 15px;
    outline: 2px solid var(--black);
    background-color: rgba(27, 24, 27, 0.6);
    color: var(--white);
    margin-bottom: 15px;
    line-height: 145%;
}
.text-container h1 {
    margin-top: 10px;
    color: var(--dark-red);
}

/* Seed */
#seed-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
#seed-input {
    width: 90%;
    height: 30px;
    border-radius: 5px;

    padding-left: 10px;
    line-height: 100px;

    border: none;
    background-color: rgba(27, 24, 27, 0.6);
    caret-color: var(--light-gray);
    outline: 2px solid var(--dark-gray);
    color: var(--white);
    font-size: 18px;
}
#seed-input:focus {
    outline: 2px solid var(--light-gray);
}
::placeholder {
    color: var(--light-gray);
}
#seed-button {
    width: 30px;
    height: 30px;
    padding: 3px 0 0 0;

    background-color: rgba(27, 24, 27, 0.6);
    border-radius: 5px;
    border: none;
    outline: 2px solid var(--dark-gray);
    cursor: pointer;
}
#seed-button:hover {
    border: 2px solid var(--light-gray)
}
#seed-button i {
    color: var(--light-gray);
    font-size: 25px;
}

/* Contains all checkboxes */
#check-boxes {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;

    color: var(--white);
    outline: 2px solid var(--black);
    background-color: rgba(27, 24, 27, 0.6);
}
#check-boxes h2 {
    margin: 15px 0 0 15px;
}
/* Rows */
#check-boxes div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
    border-top: 2px solid var(--black);
}
/* Checkboxes titles */
#check-boxes a {
    padding: 10px;
}
#seperator-line {
    border-top: 2px solid var(--black);
}
/* Actual checkbox and text */
.check-box-container {
    padding-top: 4px;
    padding-left: 35px;
    cursor: pointer;
}
#check-boxes label {
    display: flex;
    position: relative;
    width:fit-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Input checkboxes */
.check-box-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 8px;
    height: 20px;
    width: 20px;
    border-radius: 25%;
    background-color: var(--mid-gray);
    transition: 0.05s;
}
/* On mouse-over, add a grey background color */
.check-box-container:hover input ~ .checkmark {
    background-color: var(--light-gray);
}
/* When the checkbox is checked, add a blue background */
.check-box-container input:checked ~ .checkmark {
    background-color: var(--dark-red);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.check-box-container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.check-box-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--white);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Checkbox info (?) */
.checkbox-info {
    display: flex;
    align-items: center;
    text-align: right;
    padding-top: 2px;
}
.checkbox-info > .info-box {
    display: none;
}
.checkbox-info:hover > .info-box {
    position: absolute;
    width: 250px;
    display: flex;
}
/* Checkbox info box */
.info-box {
    margin: 0;
    margin-left: 45px;
    padding: 5px 15px;
    max-width: 250px;
    border-radius: 5px;
    text-align: left;

    color: var(--white);
    outline: 2px solid var(--light-gray);
    background-color: var(--black);

    box-shadow: 0px 0px 25px 10px #000;
}
.checkbox-info i {
    cursor: pointer;
    font-size: 21px;
}
.button {
    width: 100%;
    height: 60px;

    margin: 15px 0;
    padding: 2px 0 0 0;

    background-color: rgba(27, 24, 27, 0.6);
    color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--black);
    cursor: pointer;
    font-size: 24px;
}
.button:hover {
    border: 2px solid var(--dark-gray);
}

/* Drobdown Menu */
.dropdown-menu {
    width: 100%;
    margin: 15px 0 0 0;
    text-indent: 10px;
}

.dropdown-menu-item-title {
    background-color: rgba(61, 57, 61, 0.5);
    padding: 10px;
    margin: 3px auto;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;

    transition: 0.25s;
}
.dropdown-menu-item-title:hover {
    background: rgba(77, 73, 77, 0.7);
}

.sub {
    margin: 2px;
    margin-left: 15px;
    background-color: rgba(77, 73, 77, 0.5);
}
.sub:hover {
    background-color: rgba(94, 90, 94, 0.7);
}

.dropdown-menu-item-data {
    margin: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}
.dropdown-menu-item-data.hide {
    height: 0;
}
.dropdown-menu-item-data.show {
    height: var(--openHeight);
}

.dropdown-submenu {
    padding: 0;
    margin: 5px auto;
    list-style-type: none;
}
.dropdown-submenu-item {
    padding: 12px;
    margin: 4px;
    margin-left: 30px;
    background-color: rgba(94, 90, 94, 0.5);
    border-radius: 5px;

    transition: 0.25s;
}
.dropdown-submenu-item:hover {
    background-color: rgba(94, 90, 94, 0.8);
    cursor: pointer;
}
.dropdown-submenu-item a {
    pointer-events: none;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track-piece {
    background-color: var(--black);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--dark-gray); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--light-gray); 
}

/* <600px, 601px, 768px, 992px, 1200px */

@media only screen and (max-width: 992px) {

    #info-image {
        width: 18%;
        height: 9%;
        margin-left: -10px;
    }

    #header {
        height: 8%;
    }
    #big-header h1{
        display: none;
    }
    #big-header img{
        display: none;
    }
    #small-header h1{
        display: block;
    }
    #header a {
        display: none;
    }
    #header img {
        margin-right: 10px;
        width: 9%;
    }
    #gradient-header {
        top: 8%;
    }

    #main {
        flex-direction: column;
        margin: 0;
        padding: 10px;
        margin-top: 13%;
    }
    #main-left {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
    #main-right {
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
    #main-right > div.text-container {
        width: 100%;
    }

    .checkbox-info:hover > .info-box {
        position: absolute;
        right: 0;
        width: 250px;
        display: flex;
    }
}

/* @media only screen and (min-width: 601px) and (max-width: 1200px) {

    #header {
        height: 8%;
    }
    #big-header h1{
        display: none;
    }
    #big-header img{
        display: none;
    }
    #small-header h1{
        display: inline-block;
    }
    #header a {
        display: none;
    }
    #header img {
        margin-right: 10px;
        width: 9%;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (max-width: 1200px){

} */
